@model AQIViewer.Models.PollutantLevel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PollutantLevel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinConcentration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinConcentration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxConcentration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxConcentration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PollutionLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PollutionLevel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pollutant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pollutant.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelRecomendation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelRecomendation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
