
@{
    ViewData["Title"] = "DetailsPage";
    var mainPoint = ViewBag.MainPoint;
    var otherLocations = ViewBag.OtherLocations;
}
@model IEnumerable<dynamic>
<style>
    body {
        background: rgb(253, 242, 242);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .container{
        max-width:1400px;
    }
    .wrapper {
        width:100%;
        display:flex;
        flex-direction:column;
    }

    .follow {
        display:flex;
        align-items:center;
        justify-content:space-between;
        gap:10px;
    }

    .section-main {
        display:flex;
        justify-content:space-between;
        gap: 20px;
    }

    .section-main-aside {
        width: 25vw;
    }

    .map, .other-locations {
        height: 500px;
        width:100%;
    }

    .section-main-container {
        width: 70vw;
        display:flex;
        flex-direction:column;
        border:1px solid grey;
        filter:drop-shadow(0 0 0.75rem lightgrey);
    }

    .aqi {
        background:lightgreen;
        width:100%;
        display:flex;
        justify-content:space-between;
        gap:30px;
    }

    .aqi-level, .aqi-icon {
        padding: 20px;
        margin: 30px;
    }

    .aqi-level {
        width: 125px;
        color:white;
        background:green;
        text-align:left;
        opacity:0.66;
        border-radius:3px;
    }

    .aqi-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .uppercase {
        text-transform:uppercase;
        font-size:14px;
        letter-spacing:.1rem;
    }

    .overview {
        padding:20px;
        background: white;
    }

    table {
        margin:30px 0;
        width:100%;
        font-size: 14px;
        border: 2px solid darkgrey;
        box-shadow: 2px 2px 3px darkgrey;
    }
    
    th {
        padding: 15px;
        background:lightgrey;
        border: 2px solid darkgrey;
  
    }
    td {
        padding: 15px;
        border: 2px solid darkgrey;
    }

    .bar-table {
        width: 100%;
        border:none;
        border-collapse: collapse;
    }

    .bar-table th, .bar-table td {
        text-align: left;
        padding: 10px;
    }

    .bar-table th {
        background-color: #f4f4f4;
        font-size: 14px;
    }

    .bar-table td {
        vertical-align: middle;
    }

    .bar-table th:nth-child(odd){
        width:20%;
    }

    .progress-container {
        position: relative;
        height: 8px;
        width: 100%;
        background-color: #e8e8e8;
        border-radius: 4px;
        overflow: hidden;
    }

    .progress-bar {
        height: 100%;
        background-color: #8bc34a;
        border-radius: 4px;
    }

    .concentration {
        font-weight: bold;
    }

    .recomendation-content {
        display:flex;
        justify-content:space-between;
        align-content:center;
        gap:10%;
        padding:20px;
        flex-wrap:wrap;

    }
    .advice{
        flex:45%;
    }

    .section-forecast {
        width:100%;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .forecast h2 {
        margin-top: 0;
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    thead th {
        background-color: #f8f8f8;
        color: #555;
        padding: 10px;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }

    tbody td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .medium {
        background-color: #ffe58a;
        color: #333;
        padding: 5px 10px;
        border-radius: 4px;
        text-align: center;
    }

    .good {
        background-color: #a8e6a3;
        color: #333;
        padding: 5px 10px;
        border-radius: 4px;
        text-align: center;
    }

    .highlight {
        background-color: #f1f8ff;
    }

    tbody tr:hover {
        background-color: #f8f8f8;
    }

    .other-locations {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 15px;
        background-color: #f9f9f9;
        max-width: 400px;
        margin-top: 30px;
    }

    .other-locations h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .other-locations ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .other-locations li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #eaeaea;
    }

    .other-locations li:last-child {
        border-bottom: none;
    }

    .other-locations .flag {
        margin-right: 10px;
        font-size: 18px;
    }

    .other-locations a {
        flex-grow: 1;
        color: #007bff;
        text-decoration: none;
    }

    .other-locations a:hover {
        text-decoration: underline;
    }

    .other-locations .aqi-badge {
        display: inline-block;
        min-width: 40px;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border-radius: 12px;
        color: #fff;
    }

    .other-locations .aqi-badge[data-aqi] {
        background-color: #28a745; /* Default: Green */
    }

    /* Change color based on AQI value */
    .other-locations .aqi-badge[data-aqi='50'] {
        background-color: #ffc107; /* Yellow for moderate AQI */
    }

    .other-locations .aqi-badge[data-aqi='100'] {
        background-color: #dc3545; /* Red for unhealthy AQI */
    }

    .other-locations .aqi-badge[data-aqi='150'] {
        background-color: red; /* Red for unhealthy AQI */
    }
    
    .other-locations .aqi-badge[data-aqi='200'] {
        background-color: purple; /* Red for unhealthy AQI */
    }

    .other-locations .aqi-badge[data-aqi='200'] {
        background-color: brown; /* Red for unhealthy AQI */
    }
    .section-news {
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
    }

    .section-news h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .section-news p {
        font-size: 1rem;
        color: #666;
    }

    .news-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .news-card {
        width: 300px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .news-card:hover {
        transform: translateY(-5px);
    }

    .news-card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        font-size: 0.9rem;
        color: #999;
    }

    .title-container img {
        width: 12px;
        height: 12px;
        }

    .news-title {
        padding: 10px 15px;
        font-size: 1rem;
        font-weight: bold;
        color: #333;
    }

    .footer[b-mq58q74bad] {
        bottom: -50px;
    }

</style>

<div class="wrapper">
    <div class="second-header">
        <h1>Air Quality index in @mainPoint.Name</h1>
        <p>Air quality index (AQI) and PM2.5 air pollution near @mainPoint.Name</p>
        <div class ="follow">
            <div>Last Update at 08:00, Dec 4(Local time)</div>
            <div>
                <p>6 people follows this statin <button type="submit" id="findButton" class="btn btn-primary">Follow</button></p>
                
            </div>
        </div>
    </div>
    <div class="section-main">
        <div class="section-main-aside">
            <div id="map" style="height: 500px;"></div>
            <div class="other-locations">
                <h3>Other Locations</h3>
                <ul>
                    @foreach (var location in otherLocations)
                    {
                        <li>
                            <a href="@Url.Action("DetailsPage", "Home", new { id = location.Id })">
                                @location.Name
                            </a>
                            <span class="aqi-badge" data-aqi="@location.AQI">@location.AQI</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="section-main-container">
            <div class="aqi">
                <div class="aqi-main">
                    <div class="aqi-level">
                        <p>US AQI</p>
                        <p>29</p>
                    </div>
                    <div class="aqi-text">
                        <p class="uppercase">
                            Live AQI index
                        </p>
                        <p>
                            Good
                        </p>
                    </div>
                </div> 
                <div class="aqi-icon">
                    <img src="@Url.Content("~/images/icons/face.svg")" height="80" width="80" />
                </div>
            </div>
            <div class="overview">
                <h3 class="uppercase">Overview</h3>
                <h4>What is the current air quality near @mainPoint.Name ?</h4>
                <table>
                <tr>
                    <th>Air pollution level</th>
                    <th>Air quality index</th>
                    <th>Main pollutant</th>
                </tr>
                <tr>
                    <td>Good</td>
                    <td>29 US AQI</td>
                    <td>PM2.5</td>
                </tr>
                </table>
                <table class="bar-table">
                    <thead>
                        <tr>
                            <th>Pollutants</th>
                            <th>Pollution Level</th>
                            <th>Concentration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PM2.5</td>
                            <td>
                                <div class="progress-container">
                                    <div class="progress-bar" style="width: 56%;"></div>
                                </div>
                            </td>
                            <td class="concentration">5.6 µg/m³</td>
                        </tr>
                        <tr>
                            <td>PM10</td>
                            <td>
                                
                                <div class="progress-container">
                                    <div class="progress-bar" style="width: 59%;"></div>
                                </div>
                            </td>
                            <td class="concentration">5.9 µg/m³</td>
                        </tr>
                    </tbody>
                </table>
                <div class="recomendation">
                    <h4 class="uppercase">Health Recomendation</h4>
                    <h3>What is the current air qulity near @mainPoint.Name</h3>
                    <div class="recomendation-content">
                        <div class="advice">
                            <p>Enjoy outdoor activities</p>
                        </div>
                        <div class="advice">
                            <p>Open your window to bring clean weather</p>
                        </div>
                        <div class="advice">
                            <p>Enjoy outdoor activities</p>
                        </div>
                        <div class="advice">
                            <p>Open your window to bring clean weather</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-forecast">
                <h2>Air Quality Forecast (AQI)</h2>
                <p>Location: Universitetska St, 26, Irpin</p>
                <table>
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Pollution Level</th>
                            <th>AQI</th>
                            <th>Weather</th>
                            <th>Temperature</th>
                            <th>Wind</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sunday, Dec 1</td>
                            <td class="medium">Moderate</td>
                            <td>63 AQI</td>
                            <td>Cloudy</td>
                            <td>-2°</td>
                            <td>7.2 km/h</td>
                        </tr>
                        <tr>
                            <td>Monday, Dec 2</td>
                            <td class="medium">Moderate</td>
                            <td>60 AQI</td>
                            <td>Cloudy</td>
                            <td>-2°</td>
                            <td>7.2 km/h</td>
                        </tr>
                        <tr>
                            <td>Tuesday, Dec 3</td>
                            <td class="medium">Moderate</td>
                            <td>54 AQI</td>
                            <td>Cloudy</td>
                            <td>-2°</td>
                            <td>7.2 km/h</td>
                        </tr>
                        <tr class="highlight">
                            <td>Today</td>
                            <td class="medium">Moderate</td>
                            <td>51 AQI</td>
                            <td>Cloudy</td>
                            <td>-2°</td>
                            <td>7.2 km/h</td>
                        </tr>
                        <tr>
                            <td>Thursday, Dec 5</td>
                            <td class="medium">Moderate</td>
                            <td>57 AQI</td>
                            <td>Cloudy</td>
                            <td>-2°</td>
                            <td>7.2 km/h</td>
                        </tr>
                        <tr>
                            <td>Saturday, Dec 7</td>
                            <td class="good">Good</td>
                            <td>47 AQI</td>
                            <td>Sunny</td>
                            <td>3°</td>
                            <td>18 km/h</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="section-news">
                <h3>News</h3>
                <p>Latest updates on air quality and environmental changes.</p>
                <div class="news-container">
                    <div class="news-card">
                        <img src="@Url.Content("~/images/1.jpeg")" alt="News Image 3" width="200" />
                        <div class="title-container">
                            <p>14 days ago</p>
                            <img src="icon.png" alt="Icon" />
                        </div>
                        <p class="news-title">Indoor Quality Alert: Pacific Northwest Bomb Cyclone</p>
                    </div>
                    <div class="news-card">
                        <img src="@Url.Content("~/images/1.jpeg")" alt="News Image 3" width="200" />
                        <div class="title-container">
                            <p>10 days ago</p>
                            <img src="icon.png" alt="Icon" />
                        </div>
                        <p class="news-title">Understanding the Impact of Urban Air Pollution</p>
                    </div>
                    <div class="news-card">
                        <img src="@Url.Content("~/images/1.jpeg")" alt="News Image 3" width="200" />
                        <div class="title-container">
                            <p>7 days ago</p>
                            <img src="icon.png" alt="Icon" />
                        </div>
                        <p class="news-title">The Future of Air Monitoring in Smart Cities</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.aqi-badge').forEach(badge => {
        const aqi = parseInt(badge.getAttribute('data-aqi'), 10);
        if (aqi <= 50) {
            badge.style.backgroundColor = '#28a745'; // Green
        } else if (aqi <= 100) {
            badge.style.backgroundColor = '#ffc107'; // Yellow
        } else {
            badge.style.backgroundColor = '#dc3545'; // Red
        }
    });

    document.addEventListener("DOMContentLoaded", () => {
      
        const map = L.map('map').setView([parseFloat(@mainPoint.Latitude), parseFloat(@mainPoint.Longtitude)], 12);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        const mainMarker = L.marker([parseFloat(@mainPoint.Latitude), parseFloat(@mainPoint.Longtitude)]).addTo(map);
        mainMarker.bindPopup(`
                <strong>${mainPoint.Name}</strong><br>
                AQI: ${mainPoint.AQI}
            `).openPopup();


        const points = @Html.Raw(Json.Serialize(Model));
        const markers = {};
        // Add markers for all points
        points.forEach(location => {
            const marker = L.marker([parseFloat(location.Latitude), parseFloat(location.Longtitude)]).addTo(map);
            marker.bindPopup(`
                    <strong>${location.Name}</strong><br>
                    AQI: ${location.AQI}
                `)

            markers[point.name.toLowerCase()] = marker; 
            marker.on("dblclick", () => {
                window.location.href = `/Home/DetailsPage?id=${location.Id}`;
            });
        });
    });
</script>